ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #895546;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.div1{

  position: relative;
  margin: auto;
  height:800px;
  width: 900px;
  background-color:#ffffff;
}
.div2{

  margin-left: 40px;
  border-style:solid;
  border-color: #eccec5; 
  height:160px;
  width: 154px;
  background-color:#ffffff;
}
.div3{

  height:50px;
  width: 50px;
  background-color:#eccec5;
}
.div4{

  margin-left: 40px;
  border-style:solid;
  border-color: #eccec5; 
  height:160px;
  width: 154px;
  background-color:#ffffff;
}
.div5{

  margin-left: 40px;
  border-style:solid;
  border-color: #eccec5; 
  height:160px;
  width: 154px;
  background-color:#ffffff;
}


