
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #895546;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.div1{

  position: relative;
  margin: auto;
  height:800px;
  width: 900px;
  background-color:#ffffff;
}
.div3{

  height:50px;
  width: 50px;
  background-color:#eccec5;
}
a { font-family: Sans-serif; }


 #div9{
  border-color: pink;
  border-style: solid;
  border-width: 10px;
  width: 800px;
  height: 250px;
  margin: 25px;
 }
#deneme19 {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 25px auto;
    background-color: white;
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    line-height: 150px;
    box-shadow: 0 0 45px #895546 inset, 0 0 10px 4px #895546;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
    #deneme19:hover {
        box-shadow: 0 0 15px #895546 inset, 0 0 5px 2px #895546;
    }
    #deneme10 {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    transition: all 1s ease-in-out;
    cursor: pointer;
    margin: auto;
}
    #deneme10:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }